*.asv
*~
**/old/*
**/jobs*
*.png
*.mp4
**/__pycache__/*
**/raw_data/*
*.dat
*.mat
*.DS_Store
**/trained_models*
*hpgrid.txt
*~
*.pth
*dum.txt
*.py#
**.ipynb_checkpoints*
**/results/*
**/.vscode*
*args.json

**/job*

# Temporary exclusions
**/results_cached*
**/eval/*



# Files to specifically include
!data_pca_017.dat
!data_pca_013.dat
!eqs.png
!response204069_500.png
!tok_data.mat











