*.asv
*~
**/old/*
**/jobs*
*.png
*.mp4
**/__pycache__/*
**/raw_data/*
*.dat
*.mat
*.DS_Store
**/trained_models*
*hpgrid.txt
*~
*.pth
*dum.txt
*.py#
**.ipynb_checkpoints*
**/results/*
**/.vscode*
*args.json

# Temporary exclusions
**/results_cached*
**/eval/*
**/pertnet*



# Files to specifically include
!train_test_val_split.mat
!data_pca_017.dat











